.faq__wrapper {
  margin-top: 2rem;
}

.faq__item {
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 0.8rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
}

.faq__question span {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

.faq__question svg {
  font-size: 24px;
  flex-shrink: 0;
}

.faq__item h4 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--heading-color);
}

.faq__item p {
  font-size: 1rem;
  line-height: 1.7;
  color: #333;
}

@media (max-width: 992px) {
  .faq__item h4 {
    font-size: 1.2rem;
  }

  .faq__item p {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .faq__item {
    padding: 0.9rem;
  }

  .faq__question span {
    font-size: 1rem;
  }

  .faq__item h4 {
    font-size: 1rem;
  }

  .faq__item p {
    font-size: 0.95rem;
    line-height: 1.5;
  }

  .faq__question svg {
    font-size: 20px;
  }
}